@import "../scss/base/reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import "../scss/base/media-requests.scss";
@import "../scss/base/adaptive-property.scss";
@import "../scss/base/global.scss";
//*Import Swiper + navigation, pagination modules
@import "../../node_modules/swiper/swiper";
@import "../../node_modules/swiper/modules/navigation/navigation";
@import "../../node_modules/swiper/modules/pagination/pagination";
@import "../scss/header.scss";
.features {
    margin-bottom: 150px;
    @include tablet-min {
        margin-bottom: 60px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        @include tablet-min {
            flex-direction: column;
        }
    }
    &__content {
        width: 100%;
        max-width: 510px;
        @include tablet-min {
            max-width: 100%;
        }
    }
    &__title {
        margin-bottom: 60px;
        font-size: 24px;
        font-weight: 700;
        color: $third-color;
        line-height: 1.2;
        text-transform: uppercase;
        @include tablet-min {
            margin-bottom: 30px;
        }
    }
    &__content-title {
        margin-bottom: 15px;
    }
    &__content-text {
        line-height: 1.2;
        &:not(:last-child) {
            margin-bottom: 50px;
            @include tablet-min {
                margin-bottom: 20px;
            }
        }
    }
    &__image {
        width: 100%;
        max-width: 600px;
        height: auto;
    }
}
.benefits{
    margin-bottom: 150px;
    @include tablet-min {
        margin-bottom: 60px;
    }
    &__title{
        margin-bottom: 60px;
        font-size: 24px;
        font-weight: 700;
        color: $third-color;
        line-height: 1.2;
        text-transform: uppercase;
        @include tablet-min {
            margin-bottom: 30px;
        }
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        gap: 50px;
        @include tablet-min{
            flex-direction: column;
        }
    }
    &__wrrap{
        width: 100%;
        min-width: 400px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @include tablet-min{
            min-width: auto;
        }
    }
    &__sidebar{
        margin-bottom: 100px;
        @include  tablet-min {
            margin-bottom: 50px;
        }
    }
    &__sidebar-list{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
        @include  phone {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__sidebar-link{
        position: relative;
        font-size: 18px;
        color: $first-color;
        transition: opacity .2s ease-in;
        &:hover{
            opacity: 0.8;
        }
    }
    &__sidebar--active{
        &::after{
            position: absolute;
            content: "";
            margin-top: 5px;
            width: 100%;
            left: 0;
            height: 1px;
            background-color: $first-color;
            top: 100%;
        }
    }
    &__sidebar__wrrapper{
        margin-top: 120px;
        @include  tablet-min {
            margin-top: 60px;
        }
    }
    &__sidebar-installation{
        display: none;
    }
    &__sidebar-restrictions{
        display: none;
    }
    &__sidebar-inner{
        display: flex;
        column-gap: 40px;
        @include phone{
            flex-direction: column;
            gap: 20px;
        }
    }
    &__sidebar-sale__image{
        width: 100%;
        max-width: 235px;
        height: auto;
    }
    &__sidebar-sale__text{
        width: 100%;
        max-width: 235px;
        line-height: 1.2;
        @include phone{
            max-width: none;
        }
    }
    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 16px;
        column-gap: 40px;
        @include phone{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            gap: 20px;
        }
    }
    &__list-box{
        width: 100%;
        max-width: 235px;
        @include phone{
            max-width: none;
        }
    }
    &__item-title{
        margin-bottom: 5px;
    }
    &__content{
        width: 100%;
        max-width: 600px;
        @include tablet-min{
            max-width: none;
        }
    }
    &__content-title{
        margin-bottom: 17px;
    }
    &__content-image{
        width: 100%;
        max-width: 600px;
        height: auto;
    }
}
.promo {
    margin-bottom: 150px;
    width: 100%;
    text-align: center;
    background: url("@img/aside__background-image.jpg") 50% 50% / cover no-repeat;
    @include tablet-min {
        margin-bottom: 60px;
    }
    &__text {
        margin: 0 auto;
        padding: 128px 0px 144px 0px;
        font-size: 42px;
        font-weight: 400;
        width: 100%;
        max-width: 675px;
        line-height: 1.4;
        color: $second-color;
        @include tablet-min {
            padding: 70px 0px 80px 0px;
            font-size: 24px;
        }
    }
}
.meta{
    margin-bottom: 150px;
    @include tablet-min {
        margin-bottom: 60px;
    }
    &__title{
        margin-bottom: 60px;
        font-size: 24px;
        font-weight: 700;
        color: $third-color;
        line-height: 1.2;
        text-transform: uppercase;
        @include tablet-min {
            margin-bottom: 30px;
        }
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        @include tablet-min {
            flex-direction: column-reverse;
            gap: 40px;
        }
    }
    &__swiper{
        margin: 0;
        width: 100%;
        max-width: 510px;
        height: auto;
    }
    &__swiper-slide{
        margin-bottom: 32px;
        width: 100%;
        width: 510px;
        height: auto;
    }
    &__swiper-button-prev,
    &__swiper-button-next{
        height: 4px;
        top: 100%;
    }
    &__swiper-button-prev{
        left: 48%;
        &::after{
            content: "⟵";
            color: $first-color;
        }
    }
    &__swiper-button-next{
        right: 22%;
        &::after{
            content: "⟶";
            color: $first-color;
        }
    }
    &__content-title{
        margin-bottom: 30px;
        width: 100%;
        max-width: 478px;
        color: $first-color;
        @include tablet-min {
            max-width: none;
        }
    }
    &__content-item{
        margin-left: 50px;
        @include tablet {
            margin-left: 0px;
        }
        &:not(:last-child){
            margin-bottom: 15px;
        }
    }
    &__content-button{
        margin: 124px 0px 0px 40px;
        color: $first-color;
        &::after{
            content: "";
            position: absolute;
            bottom: -10px;
            left: -40px;
            width: 100px;
            height: 100px;
            background: url("@img/meta__button-arrow.png") 50% 50%/cover no-repeat;
          }
    }
}
.more{
    margin-bottom: 150px;
    @include tablet-min {
        margin-bottom: 60px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        @include tablet-min {
            flex-direction: column;
        }
    }
    &__content{
        width: 100%;
        max-width: 510px;
        @include tablet-min {
            max-width: none;
        }
    }
    &__title{
        margin-bottom: 60px;
        font-size: 24px;
        font-weight: 700;
        color: $third-color;
        line-height: 1.2;
        text-transform: uppercase;
        @include tablet-min {
            margin-bottom: 30px;
        }
    }
    &__item:not(:last-child){
        margin-bottom: 30px;
    }
    &__item-number{
        color: $third-color;
    }
    &__item-title{
        margin: 11px 0px 2px 0px;
    }
    &__item-text{
        line-height: 1.2;
    }
    &__image{
        width: 100%;
        max-width: 600px;
        min-width: 450px;
        height: auto;
        @include tablet-min {
            min-width: auto;
        }
    }
}
@import "../scss/footer.scss";
